section {
    padding: 20px;
}
.tabs-content {
    margin-top: 20px;
}

.lab-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.content-title {
    font-weight: bold;
    margin-bottom: 15px;
}

.tab-pane {
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 5px;
}
/*** Research ***/
.research-text {
    position: absolute;
    width: 0%;
    bottom: 0px;
    left: 0;
    transition: .5s;
}

.research-item:hover .research-text {
    width: 100%;
}

.research-text * {
    display: none; /* Hide text initially */
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    padding: 10px;
    text-align: center;
    transition: .5s;
}

.research-text a {
    text-decoration: none;
    color: darkgray;
}

.research-item:hover .research-text * {
    display: block;
}